@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #14171A;
    font-family: 'Satisfy', cursive;
    background-image: url("");
    background-repeat: no-repeat;
    background-position-x: center; 
    margin: 0;
    color: white;
    padding: 0;

  }


.main-content #num {
  color: red;
}


#num {
  color: red;
}


.fade-in { 
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  opacity: 1;
  position: fixed;
  width: 100%;
  z-index: 100;

}

li {
  float: left;
}

li a {
  opacity: 100;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #868686;
}

.contact {
  float: right;
}

.active {
  background-color: gold;
}
  

  footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    color: white;
  }



  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  input[type=text],
  input[type=date],
  input[type=submit] {
    margin: 10px 0 0 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgb(139, 139, 139);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links {
      margin-top: 10px;
    }
  
    .links a {
      display: block;
      margin-bottom: 5px;
    }

  
    
  }
