@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #14171A;
    font-family: 'Satisfy', cursive;
    background-image: url("");
    background-repeat: no-repeat;
    background-position-x: center; 
    margin: 0;
    padding: 0;
}


.fade-in { 
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



::-webkit-scrollbar {
    display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #868686;
}

.active {
  background-color: gold;
}

  

  footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    color: white;
  }

  


  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links {
      margin-top: 10px;
    }
  
    .links a {
      display: block;
      margin-bottom: 5px;
    }

  
    
  }
