@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #14171A;
    font-family: 'Satisfy', cursive;
    background-image: url("");
    background-repeat: no-repeat;
    background-position-x: center; 
    margin: 0;
    color: white;
    padding: 0;

  }


  .fade-in { 
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  
  
  ::-webkit-scrollbar {
      display: none;
  }