@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #14171A;
    font-family: 'Satisfy', cursive;
    background-image: url("");
    background-repeat: no-repeat;
    background-position-x: center; 
    margin: 0;
    color: white;
    padding: 0;

  }


  .fade-in { 
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  
  
  ::-webkit-scrollbar {
      display: none;
  }

  #qrcode {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 37%;
    
  }

  .main {
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .main-content #num {
    color: red;
  }


  #num {
    color: red;
  }
  .main-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }


.eticket {
  display: flex;
  
}


#qrcode {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 500px;
  background-color: bisque;
}
