@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Satisfy', cursive;
    background-image: url("");
    background-repeat: no-repeat;
    background-position-x: center; 
    margin: 0;
    padding: 0;
}


.fade-in { 
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}




::-webkit-scrollbar {
    display: none;
}

a {
  color: white;
  text-decoration: none;
}




  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 100;

  }

  li {
    float: left;
  }

  li a {
    opacity: 100;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #868686;
  }

  .contact {
    float: right;
  }

  .active {
    background-color: gold;
  }


  .main {
    background-image: url('https://holiday2go.netlify.app/Assets/Images/main.gif');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .main-content {
    text-align: center;
  }

  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .main-content #num {
    color: red;
  }


  #num {
    color: red;
  }
  .main-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    color: white;
  }


button {

  display: inline-block;
  outline: none;

  padding: 0 16px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 2px solid #dddbda;
  color: #0070d2;
  line-height: 30px;



}

button:hover {
  background-color: #aaaaaa; 
} 



.gallery {
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.imgrow {
  display: flex;
  justify-content: space-between;
  transition: transform 1s ease;
  
}

.imgrow img {
  width: 100%; 
}

.imgrow:hover {
  transform: scale(0.95);

  
}


.dark-mode {
  background-color: #14171A;
  color: white;
}



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 10px;
  }

  .links a {
    display: block;
    margin-bottom: 5px;
  }


  .gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
  }

  
  
  .imgrow {
    width: 100%;
  }

}

