@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #14171A;
    font-family: 'Satisfy', cursive;
    background-image: url("");
    background-repeat: no-repeat;
    background-position-x: center; 
    margin: 0;
    padding: 0;
}


.fade-in { 
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



::-webkit-scrollbar {
    display: none;
}

.navbar {
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 60px; /* Adjust the height as needed */
  }
  
  .links a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
  }
  


  .main {
    background-image: url('https://github.com/unofficialdxnny/Holiday2Go/blob/main/Assets/Images/main_bg.jpg?raw=true');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  
  .main-content {
    text-align: center;
  }
  
  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .main-content #num {
    color: red;
  }
  
  .main-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    color: white;
  }



  button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }

   .image-row {
    display: flex;
    justify-content: space-around;
  }
  
  .image-row img {
    max-width: 100%;
    height: auto;
    margin: 2px;
  }



  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .links {
      margin-top: 10px;
    }
  
    .links a {
      display: block;
      margin-bottom: 5px;
    }
  
    .about-section {
      flex-direction: column;
    }
    
    .image-row img {
      margin: 1px;
    }

    .image-row img {
      max-width: 25%;
      height: auto;
      margin: 2px;
    }
  
    
  }



